{% extends 'nav.html' %}
{% load likes_tags %}
{% load comments %}
{% load static %}

{% block  navbar-js %}
<script type="text/javascript" >
        function submit_query(btn){
            var sitv = setInterval(function(){
                var prog_url = '/progressurl';               // prog_url指请求进度的url，后面会在django中设置
                $.getJSON(prog_url, function(res){ 
                    $('#prog_in').width(res + '%');     // 改变进度条进度，注意这里是内层的div， res是后台返回的进度
                });
            }, 1000);                                 // 每1秒查询一次后台进度
        }
    </script>
    
    <script>
         $(document).ready(function()
        {
            //点击上传时实时显示图片
            $(".myUpload").change(function()
            {
                var id=$(this).attr("id");

                var src=getObjectURL(this.files[0]);//获取上传文件的路径

                $("#"+id+"_pre").addClass('hide');
                $("#"+id+"_aft").removeClass('hide');
                $("#"+id+"_aft").attr('src',src);//把路径赋值给img标签

            });

           
        });

        //获取上传文件的url
        function getObjectURL(file)
        {
            var url = null;
            if (window.createObjectURL != undefined)
            {
                url = window.createObjectURL(file);
            }
            else if (window.URL != undefined)
            {
                url = window.URL.createObjectURL(file);
            }
            else if (window.webkitURL != undefined)
            {
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
     </script>

    <script type="text/javascript" >
        $(document).ready(function() {
            $('#comment_form').submit(function() {
                
                if ($("#id_comment").val().length==0){
                    alert("Error:请输入您的评论");
                    $("#id_comment").focus();
                    return false;
                };
     
                $("#id_timestamp").value=event.timeStamp;
                $.ajax({
                    type: "POST",
                    data: $('#comment_form').serialize(),
                    url: "{% comment_form_target %}",
                    cache: false,
                    dataType: "html",
                    success: function(html, textStatus) {
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("评论出错，" + errorThrown);
                    }
                });
                return false;
                });
            });
    </script>

    <script type="text/javascript" >
        function deleteComment(obj, object_id){
            $.ajax({
                url: "{% url 'deleteComment' %}",
                type: 'Post',
                data: {
                    object_id: object_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                cache: false,
                success: function(html, textStatus) {
                        window.location.reload();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("评论出错，" + errorThrown);
                    }
            });
        }
    </script>

    <script type="text/javascript" >
        
        function likeChange(obj, content_type, object_id){
            var is_like = obj.getElementsByClassName('active').length == 0;
            var content_type= content_type
            $.ajax({
                url: "{% url 'like_change' %}",
                type: 'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success: function(data){
                    console.log(data)
                    if(data['status']=='SUCCESS'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if(is_like){
                            element.addClass('active');
                        }else{
                            element.removeClass('active');
                        }
                        // 更新点赞数量
                        var liked_num = $(obj.getElementsByClassName('liked-num'));
                        liked_num.text(data['liked_num']);
                    }else{
                        if(data['code']==400){
                            $('#login_modal').modal('show');
                        }else{
                            alert(data['message']);    
                        }                        
                    }
                },
                error: function(xhr){
                    console.log(xhr)
                }
            });
        };
    </script>
    

{% endblock %}  

    

{% block  res %}
    <div style='height:60px'></div>
    <div style='width:100%'>
        <div >
            {% for transferImage in transferImages %}
            <div class="content" style="margin:5px">
                <div >
                    <div class="photo">
                
                        <img  height="200" width="200" src="/{{transferImage.output_photo}}" />
                        <br>
                        <img  height="100" width="100" src="/media/{{transferImage.content_photo}}" /><img height="100" width="100" src="/media/{{transferImage.style_photo}}" />
                    </div>
                        
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <h3 class="text-center">{{transferImage.title}}</h3>
                        </div>
                    </div>  
                    <div class="row clearfix">
                        <div class="col-md-4 column">
                            <form action="{% url 'User_All' %}" method="POST">
                                {% csrf_token %}
                                <p style="display:none;">
                                    <input type="text" name="username" value="{{transferImage.author}}">
                                </p>
                                <input type="submit" value="{{transferImage.author}}" class="btn btn-sm btn-default btn-block">
                            </form>
                        </div>
                        <div class="col-md-8 column">
                            <span>{{transferImage.created_time|date:"Y-m-d H:i:s"}}</span>
                        </div>
                    </div>
                    <br/>
                    <div >
                        <div>
                            <span>风格权重:{{transferImage.style_weight}}</span>

                            <span>训练次数:{{transferImage.num_steps}}</span>
                        </div>

                    </div>
                    <br/>        

                   
                        
                    <div>
                        <form action="{% url 'search' %}" method="POST">
                            {% csrf_token %}
                            <p style="display:none;">
                                <input type="text" name="target" value="{{transferImage.tag}}">
                            </p>
                            <input type="submit" value="{{transferImage.tag}}" class="btn btn-success btn-sm">
                        </form>
                    </div>

                        
                    

                    <hr/>

                    <div>
                        {% if user.is_authenticated %}
                        <div class="row clearfix">
                            <div class="col-md-3 column">
                                <div class="like" onclick="likeChange(this, '{% get_content_type transferImage %}', {{transferImage.id }})"><span class="glyphicon glyphicon-thumbs-up {% get_like_status transferImage %}"></span>
                                    <span class="liked-num">{% get_like_count transferImage %}</span>

                                </div>
                            </div>
                            <div class="col-md-2 column">
                                <form action="{% url 'Make_Order' %}" method="POST">
                                    {% csrf_token %}
                                    <p style="display:none;">
                                        <input type="text" name="style" value="{{transferImage.id }}">
                                    </p>
                                    <input type="submit" value="下单" class="btn btn-default btn-sm">
                                </form>
                            </div>
                             <div class="col-md-2 column">
                                <a id="modal-99999" href="#modal-container-99999" role="button" class="btn btn-default btn-sm" data-toggle="modal" >评论</a>
                            </div>




                            <div class="col-md-2 column">
                                <a id="modal-{{transferImage.id}}" href="#modal-container-{{transferImage.id}}" role="button" class="btn btn-default btn-sm" data-toggle="modal" >使用</a>
                            </div>

                            <div class="modal fade" id="modal-container-{{transferImage.id}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 400px">
                                    <div class="modal-content" >

                                        <form action="{% url 'CreateTrans2' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                            {%csrf_token%}
                                            <div class="form-group" >
                                                <label class="col-sm-3 control-label" >风格名称</label>
                                                <div class="col-sm-6">
                                                    <input type="text" name="title" id="title" class=" form-control"placeholder="请输入名字"/>
                                                </div>
                                            </div>


                                            <div style="float: left;">  
                                            <input type="file" class="myUpload" name="content_photo" id="content_p"/>
                                                <img src="{% static 'img/content_blank.png' %}" class="add "   id="content_p_pre"/>
                                                <img class="show hide"   id="content_p_aft"/>
                                            </div>
                                            <div style="width:150px;height: 150px;float: left;"></div>
                                            <div style="float: left;">  
                                            <p style="display:none;">
                                                <input type="text" name="style_photo" id="style_p" value="{{transferImage.id}}">
                                            </p>

                                                <img src="/media/{{transferImage.style_photo}}" class="add "   id="style_p_pre"/>
                                                <img src="/media/{{transferImage.style_photo}}" class="show hide"   id="style_p_aft"/>
                                            </div>
                                            <div style="width:150px;height: 150px;float: left;"></div>


                                            <div style="width:100%;height: 3px;float: left;"></div>


                                            <div class="form-group ">
                                                <label class="col-sm-3 control-label" >风格权重</label>
                                                <div class="col-sm-6">
                                                  <select name="style_weight" id="style_weight" class=" form-control">
                                                        <option value="10000">10000</option>
                                                        <option value="100000">100000</option>
                                                        <option value="1000000">1000000</option>
                                                        <option value="3000000">3000000</option>
                                                        <option value="5000000">5000000</option>
                                                        <option value="10000000">10000000</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-sm-3 control-label" >训练次数</label>
                                                <div class="col-sm-6">
                                                  <select name="num_steps" id="num_steps" class=" form-control">
                                                        <option value="100">100</option>
                                                        <option value="300">300</option>
                                                        <option value="500">500</option>
                                                        <option value="800">800</option>
                                                        <option value="1000">1000</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-sm-3 control-label" >标签</label>
                                                <div class="col-sm-6">
                                                  <select name="tag" id="tag" class=" form-control">
                                                        {% for transferImageTag in transferImageTags %}
                                                        <option value="{{transferImageTag.id}}">{{transferImageTag.tag_name}}</option>
                                                        {% endfor %}
                                                  </select>
                                                </div>
                                            </div>
                                            <div id="prog_out" class="progress progress-striped active">
                                                <div id="prog_in" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                                </div>
                                            </div>
                                            <div><input type="submit"  value="提交" class="btn btn-lg btn-primary btn-block" onclick="submit_query()"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>         
                            </div>



                        </div>




                           



                            







                            <div class="modal fade" id="modal-container-99999" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 400px">
                                    <div class="modal-content" >

                                        <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h4>评论列表</h4>
                                    </div>
         
                                    <div class="panel-body">
                                        {% get_comment_list for transferImage as comments %}
                                            {% for comment in comments %}
                                            
                                                <div class="panel panel-default" >
                                                    <div class="panel-heading">
                                                        <p class="comment_title">
                                                        {{ comment.submit_date|date:"Y-m-d H:i"}} | {{ comment.user_name }}：
                                                        </p>
                                                        {% if user.is_superuser %}
                                                        
                                                            <button id="deleteComment" class="btn btn-danger btn-sm" onclick="deleteComment(this,{{ comment.id }})">删除</button>
                                                        
                                                        {% endif %}
                                                    </div>
                                                    <p class="comment_content">{{ comment.comment }}</p>
                                                    
                                                </div>
                                            
                                        {% empty %}
                                            <span>暂无评论</span>
                                        {% endfor %}
                                    </div>
                                    <hr/>
                                    <div>
                                        <h4>新的评论</h4>
                                            {% get_comment_form for transferImage as transferImage_form %}
                                             
                                            <form id="comment_form" 
                                                  class="form-horizontal" 
                                                  action="{% comment_form_target %}" 
                                                  method="post"
                                            >
                                                {% csrf_token %}
                                             
                                                {# 必须的字段 #}
                                                {{ transferImage_form.object_pk }}
                                                {{ transferImage_form.content_type }}
                                                {{ transferImage_form.timestamp }}
                                                {{ transferImage_form.site }}
                                                {{ transferImage_form.submit_date }}
                                                {{ transferImage_form.security_hash }}
                                                <input type='hidden' name='next' value="{% url 'home' %}"/>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input type="hidden" id="id_name" name="name" value="{{ user.username }}" />
                                                    </div>
                                                </div>
                                             

                                                <div class="control-group">
                                                    <div class="controls">
                                                        <input type="hidden"id="id_email"  name="email" value="1034242115@qq.com" />
                                                    </div>
                                                </div>
                                             
                                                <a name="newcomment" id="newcomment"></a>
                                                <div class="control-group">
                                                    <label class="control-label" for="id_comment">评论： </label>
                                                    <div class="controls">
                                                        <textarea rows="3" id="id_comment" class="input-xlarge comment" name="comment" placeholder="请输入评论内容"></textarea>
                                                    </div>
                                                </div>
                                             
                                                
                                             <input type="hidden" name="next" value="/" />
                                                <div class="controls">
                                                    <div class="form-actions">
                                                        <input class="btn btn-info" id="submit_btn" type="submit" name="submit" value="提交"/>

                                                    </div>
                                                </div>
                                             </form>
                                    </div>

                                    
                                </div>
                                    </div>
                                </div>         
                            </div>
                        

                        {% if user.is_superuser %}
                        <hr/>
                                <form action="{% url 'delete' %}" method="POST">
                                    {% csrf_token %}
                                    <p style="display:none;">
                                        <input type="text" name="target" value="{{transferImage.id}}">
                                    </p>
                                    <input type="submit" value="删除" class="btn btn-danger btn-sm btn-block">
                                </form>
                                <hr/>
                            {% endif %}
                        
                            
                        {% else %}
                            登陆后实现点赞评论使用功能
                        {% endif %}
                    </div>  
                </div>
            </div>
                {% empty %}
                    <p>-- 暂无模型，敬请期待 --</p>

            {% endfor %}
        </div>   
    </div>

{% endblock %}

 